body {
    background-color: #aad4cf;
}

/* container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}