html {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    padding: 15px;
    max-width: 1200px;
}

h1 {
    padding: 40px 0 20px 0;
    color:#222;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 6rem;
}

h2 {
    padding: 40px 0 20px 0;
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    padding: 40px 0 20px 0;
    font-size: 2rem;
    font-weight: bold;
}

p {
    line-height: 1.5rem;
    padding: 10px;
}

button {
    padding: 20px 30px 20px 30px;
    font-size: 1.5rem;
    border: none;
}

.fa {
    padding: 10px;
    font-size: 2rem;
}

/* Navigation Bar */
nav {
    background-color: #222;
}

nav ul li a {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #c78c06;
 }

 nav ul li a:hover {
    background-color: #c78c06;
    color: #222;
 }

 li img {
    display: block;
}

form input {
    float: left;
    width: 90%;
    margin: auto;
    height: 35px;
    font-size: 110%;
}

nav button {
    height: 40px;
    width: 40px;
    padding: 0px;
    background-color: #222;
    border: 1px solid #c78c06;
}

.fa-search {
    font-size: 1rem;
    color:#c78c06;
}

/* Welcome Section */
.welcome-background {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    padding: 60px 0 60px 0;
}

.welcome {
    background-color: rgba(0, 0, 0, 50%);
    padding: 15px;
}

.welcome h1 {
    color: white;
}

.welcome p {
    color: white;
}

.welcome button {
    background-color:#c78c06;
}

/* About Us */
.about-us {
    background-color: #ffe6ac;
}

.about-us img {
    width: 100%;
}

/* Our Services */
.our-services img {
    width: 100%;
}

.digital, .marketing, .video, .web, .print {
    background-color:#ffe6ac;
    margin-bottom: 15px;
}

.our-services h3 {
    padding: 40px 15px 15px 15px;
}

.our-services p {
    padding: 15px 15px 0px 15px;
}

.our-services button {
    background-color:#222;
    color: white;
    margin: 15px;
}

/* Our Vision */
.our-vision {
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.our-vision button {
    background-color:rgba(2, 2, 2, 75%);
    color: white;
    border: 1px solid #c78c06;
}

/* Our Team */
.our-team img {
    width: 100%;
}

.john, .bob {
    background-color:#ffe6ac;
    margin-bottom: 15px;
}

.our-team h3 {
    padding: 25px 15px 15px 15px;
}

.paragraph {
    padding: 15px 15px 30px 15px;
}

.subtitle {
    font-weight: bold;
    padding: 0px 0px 0px 15px;
}

hr {
    width: 97%;
    border: 1px solid #c78c06;
}

/* Contact Form */
.contact-us form {
    display: inline-block;
}

label {
    line-height: 2rem;
}

#name, #email, #msg {
    width: 400%;
}

textarea {
    box-sizing: border-box;
    width: 400%;
    height: 100px;
}

.contact-us button {
    background-color:#222;
	color:#c78c06;
    border: none;
    padding: 5px;
    margin-top: 20px;
}

/* Hours of Operation */
table {
    width: 100%;
}

th {
    border: 1px solid black;
    background-color:#ffe6ac;
    padding: 20px;
}

td {
    border: 1px solid black;
    padding: 20px;
}

/* Location */
iframe {
    width: 100%;
}

/* Footer */
footer {
    background-color:#222;
    color:#c78c06;
}

footer a:visited {
    color:#c78c06;
}




/*  */

.div {
    grid-template-areas:
    "heading heading heading heading heaidng heaidng"
    "digital digital digital marketing marketing marketing"
    "video video web web print print"
}


.heading {
    grid-area: heading;
}

.digital {
    grid-area: digital;
}

.marketing {
    grid-area: digital;
}

@media screen and (min-width:760px) {

}